@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #121517;
  color: #d9d9d9;
  font-size: 20px;
  line-height: 163%;
  letter-spacing: -0.02em;
}

h1,
h2 {
  font-weight: 800;
}

a {
  color: #d9d9d9;
  text-decoration: none;
  transition: opacity 0.3s;
}
a:hover {
  opacity: 0.8;
}

button {
  transition: opacity 0.3s;
  cursor: pointer;
  border: none;
}
button:hover {
  opacity: 0.8;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.gradient {
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
  font-weight: 800;
  font-size: 37px;
  letter-spacing: -0.03em;
}

.title {
  font-size: 80px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fff;
}

.btn {
  padding: 20px 80px;
  border-radius: 83px;
  background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
  font-weight: 639;
  font-size: 24px;
  letter-spacing: -0.02em;
  color: #fff;
  /* .btn_transparent */
}
.btn_transparent {
  background: transparent;
  padding: 20px 55px;
  border: 1px solid #dadada;
  font-weight: 400;
  letter-spacing: -0.03em;
}

.text-row {
  display: flex;
  align-items: center;
  gap: 70px;
  margin-bottom: 60px;
  /* .text-row__title */
  /* .text-row__text */
}
.text-row--reverce {
  flex-direction: row-reverse;
}
.text-row__title {
  max-width: 392px;
  position: relative;
}
.text-row__title::before {
  content: "";
  position: absolute;
  right: 60px;
  top: 20px;
  z-index: -5;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}
.text-row__text {
  max-width: 444px;
}

.header {
  padding: 50px 0;
  /* .header__container */
  /* .header__logo */
  /* .header__nav */
  /* .header__link */
}
.header__container {
  display: flex;
  align-items: baseline;
  gap: 95px;
}
.header__nav {
  display: flex;
  gap: 95px;
}
.welcome {
  margin-top: 30px;
  /* .welcome__container */
  /* .welcome__desc */
  /* .welcome__title */
  /* .welcome__text */
  /* .welcome__btn-wrapper */
  /* .welcome__stats */
  /* .welcome__img-wrapper */
  /* .welcome__img */
}
.welcome__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.welcome__desc {
  max-width: 575px;
}
.welcome__title {
  margin-bottom: 55px;
  position: relative;
}
.welcome__title::before {
  content: "";
  position: absolute;
  left: 40px;
  top: 80px;
  z-index: -5;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}
.welcome__text {
  margin-bottom: 55px;
}
.welcome__btn-wrapper {
  display: flex;
  gap: 15px;
  margin-bottom: 55px;
}
.welcome__img-wrapper {
  padding-right: 60px;
  position: relative;
}
.welcome__img-wrapper::before {
  content: "";
  width: 860px;
  height: 620px;
  position: absolute;
  right: -230px;
  bottom: -180px;
  z-index: -10;
  background-image: url("../images/icons/lines.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome__img-wrapper::after {
  content: "";
  position: absolute;
  right: 130px;
  bottom: 60px;
  z-index: -5;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(170px);
}
.welcome__img {
  max-width: 470px;
  animation: moveCup 1.5s infinite alternate ease-in-out;
}

@keyframes moveCup {
  0% {
    transform: none;
  }
  100% {
    transform: translateY(-20px);
  }
}
.stats {
  display: flex;
  gap: 45px;
  /* .stats__item */
  /* .stats__num */
}
.stats__item {
  line-height: 144%;
  width: 126px;
}
.stats__num {
  font-size: 62px;
  letter-spacing: -0.03em;
  color: #fff;
  line-height: 109%;
}
.stats__num::after {
  content: "+";
  background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.benefits {
  margin-top: 110px;
  /* .benefits__container */
  /* .benefits__item */
  /* .benefits__img-wrapper */
  /* .benefits__icon */
  /* .benefits__heart */
  /* .benefits__title */
  /* .benefits__desc */
  /* .benefits__rocket */
  /* .benefits__money */
}
.benefits__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
  max-width: 1030px;
  padding-top: 55px;
  padding-bottom: 25px;
  border-radius: 46px;
  position: relative;
}
.benefits__container::before {
  content: "";
  position: absolute;
  left: -30px;
  top: 50px;
  z-index: -5;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(100px);
}
.benefits__container::after {
  content: "we\ahave";
  white-space: pre-wrap;
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 200px;
  height: 200px;
  font-weight: 500;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
  background-image: url("../images/icons/star.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.benefits__item {
  max-width: 220px;
  text-align: center;
}
.benefits__img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
}
.benefits__img-wrapper::before {
  content: "";
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  background: linear-gradient(245deg, #237249 0%, #35c66d 100%);
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}
.benefits__icon {
  width: 146px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.benefits__heart {
  margin-top: 5px;
  margin-left: 5px;
}
.benefits__title {
  font-weight: 500;
  font-size: 32px;
  color: #121517;
  margin-bottom: 15px;
}
.benefits__desc {
  line-height: 163%;
  color: rgba(18, 21, 23, 0.9);
}
.benefits__rocket {
  width: 210px;
  margin-top: 10px;
  margin-left: -10px;
}
.benefits__money {
  width: 210px;
}

.history {
  margin-top: 135px;
  margin-bottom: 25px;
  /* .history__container */
  /* .history__img-wrapper */
  /* .history__img */
  /* .history__text */
  /* .history__pic */
  /* .history__desc */
  /* .history__title */
}
.history__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.history__img-wrapper {
  display: flex;
  position: relative;
  box-shadow: -14px 26px 65px 0 rgba(0, 0, 0, 0.39);
}
.history__img-wrapper::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25px;
  left: -35px;
  z-index: -10;
  -webkit-clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
  background: #237249;
}
.history__img {
  max-width: 465px;
  -webkit-clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
          clip-path: polygon(67% 0, 100% 25%, 100% 100%, 0 100%, 0 0);
}
.history__desc {
  max-width: 460px;
  position: relative;
}
.history__desc::before {
  content: "";
  width: 920px;
  height: 670px;
  position: absolute;
  right: -145px;
  bottom: -290px;
  z-index: -10;
  background-image: url(../images/icons/lines.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(37deg);
}
.history__title {
  margin-bottom: 65px;
  position: relative;
}
.history__title::before {
  content: "";
  position: absolute;
  right: 60px;
  top: 30px;
  z-index: -5;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}
.history__text {
  margin-bottom: 65px;
}
.history__pic {
  -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 23%, 11% 0);
          clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 23%, 11% 0);
}

.products {
  margin-top: 100px;
  /* .products__container */
  /* .products__desc */
  /* .products__title */
  /* .products__text */
  /* .products__cards */
  /* .products__card */
}
.products__cards {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.card-products {
  position: relative;
  width: 270px;
  padding: 30px;
  padding-top: 50px;
  text-align: center;
  background-color: #121517;
  border-radius: 30px;
  /* .card-products__img-wrapper */
  /* .card-products__img */
  /* .card-products__title */
  /* .card-products__desc */
  /* .card-products__row */
  /* .card-products__price */
  /* .card-products__size */
  /* .card-products__btn */
}
.card-products::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -5;
  background: rgb(218, 218, 218);
  background: linear-gradient(110deg, rgba(218, 218, 218, 0.7) 0%, rgba(218, 218, 218, 0.07) 42%, rgba(218, 218, 218, 0.7) 100%);
  border-radius: 30px;
}
.card-products:hover::before {
  background: rgb(35, 114, 73);
  background: linear-gradient(260deg, rgb(35, 114, 73) 0%, rgb(53, 198, 107) 100%);
}
.card-products:hover .card-products__img {
  transform: translateY(-5px);
}
.card-products__img-wrapper {
  position: relative;
  margin-bottom: 30px;
}
.card-products__img-wrapper::before {
  content: "";
  display: inline-block;
  width: 190px;
  height: 190px;
  border-radius: 100%;
  background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
  box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}
.card-products__img {
  position: absolute;
  top: -30px;
  left: 0px;
  width: 180px;
  filter: drop-shadow(0 4px 46px rgba(0, 0, 0, 0.48));
  transition: transform 0.5s;
}
.card-products__title {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  margin-bottom: 10px;
}
.card-products__desc {
  margin-bottom: 15px;
}
.card-products__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 25px;
}
.card-products__price {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
}
.card-products__btn {
  font-size: 17px;
  padding: 15px 0px;
  width: 100%;
}

.events {
  margin-top: 100px;
  /* .events__container */
  /* .events__desc */
  /* .events__title */
  /* .events__text */
  /* .events__inner-wrapper */
}
.events__text {
  max-width: 455px;
}
.events__inner-wrapper {
  display: grid;
  gap: 25px;
  grid-auto-rows: 260px;
  grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
  grid-template-areas: "price price kitchen kitchen" "free social social choose";
  position: relative;
}
.events__inner-wrapper::before {
  content: "";
  width: 860px;
  height: 620px;
  position: absolute;
  top: -410px;
  left: -610px;
  z-index: -10;
  background-image: url(../images/icons/lines.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(410deg);
}
.events__inner-wrapper::after {
  content: "";
  position: absolute;
  bottom: -50px;
  right: 50%;
  z-index: -5;
  width: 320px;
  height: 270px;
  border-radius: 100%;
  background-color: rgba(217, 217, 217, 0.2);
  filter: blur(100px);
}

.event {
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 45px 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* .event__title */
  /* .event__btn */
}
.event__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 109%;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 50px;
  width: 294px;
}
.event__btn {
  padding: 20px 50px;
  width: -moz-fit-content;
  width: fit-content;
}

.event--price {
  background-image: url(../images/events/1.png);
  grid-area: price;
}

.event--kitchen {
  background-image: url(../images/events/2.png);
  grid-area: kitchen;
}

.event--free {
  background-image: url(../images/events/3.png);
  grid-area: free;
}

.event--social {
  background-image: url(../images/events/4.png);
  grid-area: social;
}

.event--choose {
  background-image: url(../images/events/5.png);
  grid-area: choose;
}

.contacts {
  padding-top: 130px;
  padding-bottom: 100px;
  overflow: hidden;
  /* .contacts__container */
  /* .contacts__desc */
  /* .contacts__title */
  /* .contacts__text */
  /* .contacts__phone */
  /* .contacts__img-wrapper */
  /* .contacts__inner-wrapper */
  /* .contacts__img */
}
.contacts__container {
  display: flex;
  justify-content: space-between;
}
.contacts__desc {
  width: 390px;
}
.contacts__title {
  margin-bottom: 50px;
}
.contacts__text {
  margin-bottom: 50px;
  position: relative;
}
.contacts__text::before {
  content: "";
  position: absolute;
  left: 80px;
  top: 20px;
  z-index: -5;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}
.contacts__phone {
  font-weight: 500;
  font-size: 32px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 25px;
}
.contacts__phone::before {
  content: "";
  width: 45px;
  height: 45px;
  background: url(../images/icons/phone.png);
  background-size: contain;
  background-position: center;
}
.contacts__img-wrapper {
  position: relative;
}
.contacts__img-wrapper::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 30px;
  z-index: -5;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
  filter: blur(90px);
}
.contacts__img-wrapper::after {
  content: "";
  width: 920px;
  height: 670px;
  position: absolute;
  right: -245px;
  bottom: -360px;
  z-index: -15;
  background-image: url(../images/icons/lines.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(17deg);
}
.contacts__inner-wrapper {
  position: relative;
  padding-right: 35px;
}
.contacts__inner-wrapper::before {
  content: "";
  width: calc(100% - 35px);
  height: 100%;
  position: absolute;
  bottom: -25px;
  right: 0;
  z-index: -10;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 26%);
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 26%);
  background: #237249;
}
.contacts__inner-wrapper::after {
  content: "we\ahave";
  white-space: pre-wrap;
  position: absolute;
  top: 55px;
  left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  width: 250px;
  height: 250px;
  font-weight: 500;
  font-size: 38px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  transform: translate(-50%, -50%);
  background-image: url(../images/icons/star.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.contacts__img {
  width: 353px;
  -webkit-clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 26%);
          clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%, 0 26%);
}

.footer {
  padding: 40px 0;
  background-color: #0b0c0d;
  /* .footer__container */
  /* .footer__row */
  /* .footer__logo */
  /* .footer__nav */
  /* .footer__nav-col */
  /* .footer__nav-link */
  /* .footer__up-link */
  /* .footer__arrow */
  /* .footer__phone */
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 85px;
}
.footer__nav {
  display: flex;
  gap: 80px;
}
.footer__nav-col {
  display: flex;
  flex-direction: column;
}
.footer__nav-link {
  letter-spacing: -0.01em;
  color: rgba(187, 179, 179, 0.43);
}
.footer__nav-link:first-child {
  color: #bbb3b3;
}
.footer__up-link {
  width: 85px;
  height: 85px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1.5px solid transparent;
  background: linear-gradient(#0b0c0d, #0b0c0d) padding-box, linear-gradient(-30deg, #237249, #35C66B) border-box;
}
.footer__arrow {
  height: 35px;
}
.footer__phone {
  font-weight: 500;
  font-size: 26px;
}/*# sourceMappingURL=style.css.map */