.benefits {
    margin-top: 110px;
    /* .benefits__container */

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
        max-width: 1030px;
        padding-top: 55px;
        padding-bottom: 25px;
        border-radius: 46px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: -30px;
            top: 50px;
            z-index: -5;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
            filter: blur(100px);
        }

        &::after {
            content: "we\Ahave";

            white-space: pre-wrap;

            position: absolute;
            top: 15px;
            left: 15px;

            display: flex;
            align-items: center;
            justify-content: center;

            z-index: 10;

            width: 200px;
            height: 200px;

            font-weight: 500;
            font-size: 32px;
            text-transform: uppercase;
            text-align: center;
            color: #fff;

            transform: translate(-50%, -50%);

            background-image: url("../images/icons/star.svg");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    /* .benefits__item */

    &__item {
        max-width: 220px;
        text-align: center;

    }

    /* .benefits__img-wrapper */

    &__img-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        margin-bottom: 30px;

        &::before {
            content: "";
            display: block;
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background: linear-gradient(245deg, #237249 0%, #35c66d 100%);
            box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
        }
    }

    /* .benefits__icon */

    &__icon {
        width: 146px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    /* .benefits__heart */

    &__heart {
        margin-top: 5px;
        margin-left: 5px;
    }

    /* .benefits__title */

    &__title {
        font-weight: 500;
        font-size: 32px;
        color: #121517;
        margin-bottom: 15px;
    }

    /* .benefits__desc */

    &__desc {
        line-height: 163%;
        color: rgba(18, 21, 23, 0.9);
    }

    /* .benefits__rocket */

    &__rocket {
        width: 210px;
        margin-top: 10px;
        margin-left: -10px;
    }

    /* .benefits__money */

    &__money {
        width: 210px;
    }
}