.products {
    margin-top: 100px;

    /* .products__container */
    @media (max-width: 768px) {
        margin-top: 65px;
    }

    &__container {}

    /* .products__desc */

    &__desc {}

    /* .products__title */

    &__title {}

    /* .products__text */

    &__text {}

    /* .products__cards */

    &__cards {
        display: flex;
        gap: 50px;
        justify-content: center;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            gap: 25px 15px;
        }
    }

    /* .products__card */

    &__card {}
}

.hide-text-mobile {
    @media (max-width: 992px) {
        display: none;
    }
}

.card-products {
    position: relative;
    width: 270px;
    padding: 30px;
    padding-top: 50px;

    text-align: center;
    background-color: #121517;

    border-radius: 30px;

    @media (max-width: 768px) {
        width: 185px;
        padding: 20px;
        padding-top: 40px;
    }

    &::before {
        content: "";
        position: absolute;
        inset: -2px;
        z-index: -5;
        background: rgb(218, 218, 218);
        background: linear-gradient(110deg, rgba(218, 218, 218, 0.7) 0%, rgba(218, 218, 218, 0.07) 42%, rgba(218, 218, 218, 0.7) 100%);

        border-radius: 30px;
    }

    &:hover {
        &::before {
            background: rgb(35, 114, 73);
            background: linear-gradient(260deg, rgba(35, 114, 73, 1) 0%, rgba(53, 198, 107, 1) 100%);
        }

        & .card-products__img {
            transform: translateY(-5px);
        }
    }

    /* .card-products__img-wrapper */

    &__img-wrapper {
        position: relative;
        margin-bottom: 30px;

        @media (max-width: 768px) {
            margin-bottom: 10px;
        }

        &::before {
            content: "";
            display: inline-block;
            width: 190px;
            height: 190px;

            border-radius: 100%;
            background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
            box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);

            @media (max-width: 768px) {
                width: 120px;
                height: 120px;
            }
        }
    }

    /* .card-products__img */

    &__img {
        position: absolute;
        top: -30px;
        left: 0px;

        width: 180px;

        filter: drop-shadow(0 4px 46px rgba(0, 0, 0, 0.48));
        transition: transform 0.5s;

        @media (max-width: 768px) {
            width: 115px;
            left: 8px;
        }
    }

    /* .card-products__title */

    &__title {
        font-weight: 500;
        font-size: 32px;
        color: #fff;
        margin-bottom: 10px;

        @media (max-width: 768px) {
            font-size: 22px;
        }
    }

    /* .card-products__desc */

    &__desc {
        margin-bottom: 15px;
    }

    /* .card-products__row */

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 25px;

        @media (max-width: 768px) {
            margin-bottom: 15px;
        }
    }

    /* .card-products__price */

    &__price {
        font-weight: 500;
        font-size: 32px;
        color: #fff;

        @media (max-width: 768px) {
            font-size: 22px;
        }
    }

    /* .card-products__size */

    &__size {
        @media (max-width: 768px) {
            font-size: 12px;
        }
    }

    /* .card-products__btn */

    &__btn {
        font-size: 17px;
        padding: 15px 0px;
        width: 100%;

        @media (max-width: 768px) {
            font-size: 14px;
        }
    }
}